<!-- Hero section with layer parallax gfx -->
<section class="position-relative py-5">
<!-- Gradient BG -->
  <div class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-primary opacity-10"></div>
    <!-- Content -->
    <div class="container position-relative zindex-2 py-lg-4">
      <div class="row">
        <div class="col-lg-5 d-flex flex-column pt-lg-4 pt-xl-5">
          <h5 class="my-2">Welcome!</h5>
          <h1 class="display-3 mb-4"><span class="text-primary">EduSchedule</span>で学びがもっと楽しくなる！</h1>
          <p class="fs-lg mb-5">EduScheduleは、テストの得点を手軽に入力して、友達と競い合い、成績をグラフで見るアプリです。みんなで楽しく学習しよう！</p>
        </div>
        <div class="col-lg-7">
        <!-- Parallax gfx -->
          <div class="parallax mx-auto me-lg-0" style="max-width: 648px;">
            <div class="parallax-layer" data-depth="0.1">
              <%= image_tag 'study.jpg', style: "width:100%; height:auto;" %>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>    
</section>
<!-- How it works (Steps) -->